.col-md-6{
	background-color: red;
}



.stashed img{
	width: 150px;
	padding: 5px;
	background-color: dimgrey;
}

.choosenMatrix img{
	width: 200px;
}

.movieAwards{
	height: 10px;
	background-color: lightseagreen;
}